{% extends 'base.html.twig' %}

{% block title %}Modification{% endblock %}

{% block main %}
    <section class="formAdmin">
        <h1>
            Formulaire de modification de la partie<br>
            <span><i class="fas fa-angle-double-left"></i>
                A propos de moi
            <i class="fas fa-angle-double-right"></i></span>
        </h1>
        {{ form_start(form) }}

            {{ form_label(form.avatar) }}
            {% if errorAddPicture is defined %}
                <li>{{ errorAddAvatar }}</li>
            {% endif %}
            {{ form_errors(form.avatar) }}
            {{ form_widget(form.avatar) }}
            {{ form_help(form.avatar) }}

            {{ form_label(form.myJobTitle) }}
            {{ form_errors(form.myJobTitle) }}
            {{ form_widget(form.myJobTitle) }}
            {{ form_help(form.myJobTitle) }}

            {{ form_label(form.myJobText) }}
            {{ form_errors(form.myJobText) }}
            {{ form_widget(form.myJobText) }}
            {{ form_help(form.myJobText) }}

            {{ form_label(form.myNewsTitle) }}
            {{ form_errors(form.myNewsTitle) }}
            {{ form_widget(form.myNewsTitle) }}
            {{ form_help(form.myNewsTitle) }}

            {{ form_label(form.myNewsText) }}
            {{ form_errors(form.myNewsText) }}
            {{ form_widget(form.myNewsText) }}
            {{ form_help(form.myNewsText) }}

            <div class="button">
                <button>Valider</button>
            </div>

        {{ form_end(form) }}
    </section>
{% endblock %}
