{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="/assets/css/aboutMe.css" />
{% endblock %}

{% block title %}Thomas Clement{% endblock %}

{% block main %}
    <main class="container cont-about-me">
        <section class="title-page tp-about-me">
            <h1>A propos de moi</h1>
            <section class="picture-frame pf-about-me pf-mobile">
                {% if aboutMe %}
                    <img src="assets/upload/{{ aboutMe[0].avatar }}" />
                {% endif %}
            </section>
        </section>
        <section>
            <section class="about-me-desktop">
                <div class="picture-frame pf-about-me pf-desktop">
                    {% if aboutMe %}
                        <img src="assets/upload/{{ aboutMe[0].avatar }}" />
                    {% endif %}
                </div>
                <div class="socialLinks">
                    {% if socialLinks is not empty %}
                        {% for socialLink in socialLinks %}
                            <div>
                                <a href="{{ socialLink.link }}" target="blank">
                                    <img src="assets/upload/{{ socialLink.logo }}" />
                                </a>
                                {% if app.user and is_granted("ROLE_ADMIN") %}
                                    <div class="buttons-admin">
                                        {% if socialLink is empty %}
                                            <a href="{{ path('social_link_new') }}">
                                                <input type="button" value="Nouveau" class="button-add">
                                            </a>
                                        {% endif %}
                                        {% if socialLink is not empty %}
                                            <form method="post" action="{{ path('social_link_delete', {'id' : socialLink.id}) }}" onsubmit="return confirm('Êtes-vous sur de vouloir supprimer le contenu?');">
                                                <input type="hidden" name="_method" value="DELETE">
                                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ socialLink.id) }}">
                                                <input type="submit" value="Supprimer" class="button-delete">
                                            </form>
                                            <a href="{{ path('social_link_edit', {'id': socialLink.id }) }}">
                                                <input type="button" value="Editer" class="button-edit">
                                            </a>
                                        {% endif %}
                                    </div>
                                {% endif %}
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </section>
            <section class="about-me">
                {% if aboutMe %}
                    <h1>Thomas CLEMENT</h1>
                    <h2 class="sub-title">{{ aboutMe[0].myJobTitle }}</h2>
                    <p class="paragraph">{{ aboutMe[0].myJobText|nl2br }}</p>
                    <h2 class="sub-title">{{ aboutMe[0].myNewsTitle }}</h2>
                    <p class="paragraph">{{ aboutMe[0].myNewsText|nl2br }}</p>
                {% endif %}
            </section>
        </section>
        {% if app.user and is_granted("ROLE_ADMIN") %}
            <div class="buttons-admin">
                {% if aboutMe is empty %}
                    <a href="{{ path('about_me_new') }}">
                        <input type="button" value="Nouveau" class="button-add">
                    </a>
                {% endif %}
                {% if aboutMe is not empty %}
                    <form method="post" action="{{ path('about_me_delete', {'id' : aboutMe[0].id}) }}" onsubmit="return confirm('Êtes-vous sur de vouloir supprimer le contenu?');">
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ aboutMe[0].id) }}">
                        <input type="submit" value="Supprimer" class="button-delete">
                    </form>
                    <a href="{{ path('about_me_edit', {'id': aboutMe[0].id }) }}">
                        <input type="button" value="Editer" class="button-edit">
                    </a>
                {% endif %}
            </div>
        {% endif %}
    </main>
{% endblock %}
