{% extends 'base.html.twig' %}

{% block title %}Modification{% endblock %}

{% block main %}
    <main class="formAdmin">
        <h1>
            Administration de la<br>
            <span><i class="fas fa-angle-double-left"></i>
            Page d'Accueil
            <i class="fas fa-angle-double-right"></i></span>
        </h1>
        {{ form_start(form, {'attr' : {'class' : 'formContent'}}) }}

            {{ form_label(form.title) }}
            {{ form_errors(form.title) }}
            {{ form_widget(form.title) }}
            {{ form_help(form.title) }}

            {{ form_label(form.text) }}
            {{ form_errors(form.text) }}
            {{ form_widget(form.text) }}
            {{ form_help(form.text) }}

            {{ form_label(form.position) }}
            {{ form_errors(form.position) }}
            {{ form_widget(form.position) }}
            {{ form_help(form.position) }}

            <div class="buttons">
                <div class="button-left">
                    <a class="btn-return" href="{{ path('about_me') }}">Retour<i class="fas fa-door-open"></i></a>
                </div>
                <div class="button-right">
                    <button class="btn-valid">Valider<i class="fas fa-check"></i></button>
                </div>
            </div>

        {{ form_end(form) }}
    </main>
{% endblock %}
