{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="/assets/css/contact.css" />
{% endblock %}

{% block title %}Me contacter{% endblock %}

{% block main %}
    <main class="container cont-contact">
        <section class="title-page tp-contact">
            <h1>Me contacter</h1>
        </section>
        {% for message in app.flashes("success") %}
            <div class="send-message send-success">
                <p><i class="fas fa-thumbs-up"></i>   {{ message }}</p>
            </div>
        {% endfor %}
        {% for message in app.flashes("warning") %}
            <div class="send-message send-warning">
                <p><i class="fas fa-exclamation-circle"></i>   {{ message }}</p>
            </div>
        {% endfor %}
        <section>
            {{ form_start(form) }}
                <div class="contactForm">
                    <div class="infos">
                        {{ form_label(form.transmitter, 'Emetteur') }}
                        {{ form_errors(form.transmitter) }}
                        {{ form_widget(form.transmitter) }}

                        {{ form_label(form.subject, 'Sujet') }}
                        {{ form_errors(form.subject) }}
                        {{ form_widget(form.subject) }}

                        {{ form_label(form.email, 'Email') }}
                        {{ form_errors(form.email) }}
                        {{ form_widget(form.email) }}
                    </div>

                    <div class="message">
                        {{ form_label(form.message, 'Message') }}
                        {{ form_errors(form.message) }}
                        {{ form_widget(form.message) }}
                    </div>
                </div>
                <div class="button">
                    <button>Envoyer<i class="fas fa-paper-plane"></i></button>
                </div> 

            {{ form_end(form) }}
        </section>
    </main>
{% endblock %}
