<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="author" content="Thomas Clement" />
        <meta name="description" content="Je suis développeur web spécialisé php/symfony et ceci est mon portfolio.
            Vous y retrouverez les projets auquels j'ai participé et vous pourrez également me contacter." />
        <title>{% block title %}Thomas CLEMENT{% endblock %}</title>
        <link rel="stylesheet" href="/lib/fontawesome-free-5.15.3-web/css/all.css" />
        <link rel="stylesheet" href="/assets/css/common.css" />
        <link rel="stylesheet" href="/assets/css/menu.css" />
        <link rel="stylesheet" href="/assets/css/admin.css" />
        {% block stylesheets %}
        {% endblock %}
    </head>
    <body>
        <section class="menu">
            <div id="menu-burger" class="menu-button">
                <i class="fas fa-bars"></i>
            </div>
            <nav class="nav-container">
                <div id="menu-close" class="menu-button">
                    <i class="fas fa-times"></i>
                </div>
                <ul class="nav-menu">
                    <li>
                        {% if aboutMe is defined %}
                            <i class="fas fa-circle is-not-mobile this-page"></i>
                        {% else %}
                            <i class="far fa-circle is-not-mobile"></i>
                        {% endif %}
                        <i class="fas fa-user"></i>
                        <a href="{{ path('about_me') }}">
                            A propos de moi
                        </a>
                    </li>
                    <li>
                        {% if projects is defined %}
                            <i class="fas fa-circle is-not-mobile this-page"></i>
                        {% else %}
                            <i class="far fa-circle is-not-mobile"></i>
                        {% endif %}
                        <i class="fas fa-book"></i>
                        <a href="{{ path('project') }}">
                            Mon portfolio
                        </a>
                    </li>
                    <li>
                        {% if contact is defined %}
                            <i class="fas fa-circle is-not-mobile this-page"></i>
                        {% else %}
                            <i class="far fa-circle is-not-mobile"></i>
                        {% endif %}
                        <i class="fas fa-envelope"></i>
                        <a href="{{ path('contact') }}">
                            Me contacter
                        </a>
                    </li>
                </ul>
            </nav>
        </section>
        <div class="menu-clear">
        </div>
        {% if app.user %}
            <a href="{{ path('admin_logout') }}" class="logout"><i class="fas fa-power-off"></i></a>
        {% endif %}
        {% block main %}
        {% endblock %}
        <footer>
            {{ render(controller('App\\Controller\\FooterController::getAboutMe')) }}
        </footer>
        <script src="/assets/js/menu.js"></script>
        {% block javascripts %}
        {% endblock %}
    </body>
</html>
