{% extends 'base.html.twig' %}

{% block title %}Modification{% endblock %}

{% block main %}
    <main class="formAdmin">
        <h1>
            Administration des<br>
            <span><i class="fas fa-angle-double-left"></i>
            Projets
            <i class="fas fa-angle-double-right"></i></span>
        </h1>
        {{ form_start(form, {'attr' : {'class' : 'formContent'}}) }}
            <div class="project-type">
                {{ form_label(form.type) }}
                {{ form_errors(form.type) }}
                {{ form_widget(form.type, {'attr' : {'class' : 'radio-buttons' }}) }}
                {{ form_help(form.type) }}
            </div>

            {{ form_label(form.title) }}
            {{ form_errors(form.title) }}
            {{ form_widget(form.title) }}
            {{ form_help(form.title) }}

            <div class="form-technos-container">
                {{ form_label(form.technos) }}
                {{ form_errors(form.technos) }}
                {{ form_widget(form.technos, {'attr' : {'class' : 'form-technos-list'}}) }}
                {{ form_help(form.technos) }}
            </div>

            {{ form_label(form.photo) }}
            {{ form_errors(form.photo) }}
            {{ form_widget(form.photo) }}
            {{ form_help(form.photo) }}

            {{ form_label(form.text) }}
            {{ form_errors(form.text) }}
            {{ form_widget(form.text) }}
            {{ form_help(form.text) }}

            {{ form_label(form.linkWeb) }}
            {{ form_errors(form.linkWeb) }}
            {{ form_widget(form.linkWeb) }}
            {{ form_help(form.linkWeb) }}

            {{ form_label(form.linkGit) }}
            {{ form_errors(form.linkGit) }}
            {{ form_widget(form.linkGit) }}
            {{ form_help(form.linkGit) }}

            {{ form_label(form.linkVideo) }}
            {{ form_errors(form.linkVideo) }}
            {{ form_widget(form.linkVideo) }}
            {{ form_help(form.linkVideo) }}

            {{ form_label(form.linkInfos) }}
            {{ form_errors(form.linkInfos) }}
            {{ form_widget(form.linkInfos) }}
            {{ form_help(form.linkInfos) }}

            <div class="buttons">
                <div class="button-left">
                    <a class="btn-return" href="{{ path('project') }}">Retour<i class="fas fa-door-open"></i></a>
                </div>
                <div class="button-right">
                    <button class="btn-valid">Valider<i class="fas fa-check"></i></button>
                </div>
            </div>

        {{ form_end(form) }}
    </main>
{% endblock %}
